# > NeteaseMusic Unlock List
# > All Nodes
# > 2022.07.16
# Back music.desperadoj.com DNS 101.132.192.212
http=124.221.42.224:8001, over-tls=false, fast-open=false, udp-relay=false, server_check_url=http://interface3.music.163.com, tag=NeteaseMusic Unlock 1
