#!name=JDwskey本地获取

https://api.m.jd.com/client.action(.+)newUserInfo - script-response-body https://js.iwocuole.xyz/https://raw.githubusercontent.com/a358594784/yuwen.github.io/main/ywwskey.js

hostname = api.m.jd.com
