#!name=JDwskey本地获取

?https?:\/\/api\.m\.jd\.com\/client.action(.+)newUserInfo url script-request-body https://raw.githubusercontent.com/knowledgeablelmh/-/main/JDwskey/JDwskey.js

hostname = api.m.jd.com
