http://u.cocozx.cn/api/coin/read url script-response-body https://raw.githubusercontent.com/knowledgeablelmh/-/main/autoRead/autoRead.js
^http://.+/mock/read url script-analyze-echo-response https://raw.githubusercontent.com/knowledgeablelmh/-/main/autoRead/autoRead.js
